/* === FONTS === */
@font-face {
  font-family: "Great Vibes";
  src: url("GreatVibes-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Infant";
  src: url("CormorantInfant-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("LibertinusSerif-BoldItalic.woff2") format("woff2"),
    url("LibertinusSerif-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("LibertinusSerif-Bold.woff2") format("woff2"),
    url("LibertinusSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("LibertinusSerif-Italic.woff2") format("woff2"),
    url("LibertinusSerif-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("LibertinusSerif-SemiBold.woff2") format("woff2"),
    url("LibertinusSerif-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("LibertinusSerif-Regular.woff2") format("woff2"),
    url("LibertinusSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("LibertinusSerif-SemiBoldItalic.woff2") format("woff2"),
    url("LibertinusSerif-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: "Libertinus Serif", serif;
  color: #0047ab;
}

/* === PAGE SECTIONS === */
.page {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

/* === PAGE 1 === */
.hero-photo {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 40px;
}

.save-date {
  font-family: "Libertinus Serif";
  font-style: italic;
  font-size: 42px;
  /* color: #b93136; */
  color: #0047ab;
  margin: 10px 0 20px;
}

.names {
  font-size: 24px;
  letter-spacing: 6px;
  color: #0047ab;
  font-weight: 500;
}

.date {
  margin-top: 15px;
  font-size: 16px;
  letter-spacing: 4px;
  color: #0047ab;
}

/* === PAGE 2 === */
.names2 {
  font-family: "Libertinus Serif";
  font-style: italic;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #0047ab;
  line-height: 1.2;
}

.names2 span {
  font-family: "Libertinus Serif";
  font-style: italic;
  font-size: 40px;
  color: #0047ab;
}

.invite-text {
  margin-top: 25px;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500;
  color: #0047ab;
}

.date2 {
  margin-top: 35px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #0047ab;
}

.address {
  margin-top: 5px;
  font-size: 15px;
  color: #0047ab;
}

.follow {
  margin-top: 50px;
  font-family: "Great Vibes";
  font-size: 38px;
  color: #0047ab;
}

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-top: 8px;
}

.countdown {
  display: flex;
  gap: 30px;
}

.countdown div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown span {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  width: 30px;
  text-align: center;
  font-variant-numeric: tabular-nums;
}

.countdown p {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.btn-location {
  font-family: "Libertinus Serif";
  font-style: italic;
  font-weight: normal;
  width: 120px;
  border: 2px solid #fff;
  border-radius: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0047ab;
  padding: 5px 20px;
}

.btn-location:hover {
  background-color: #fff;
  color: #0047ab;
}

.location-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.last {
  font-family: "Libertinus Serif";
  font-style: italic;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #0047ab;
  line-height: 1.2;
}

/* Базовый класс для скрытых элементов */
.animate {
  opacity: 0;
  transition: opacity 2s ease, transform 2s ease;
  will-change: opacity, transform;
}

/* Картинки: слева направо */
.slide-left {
  transform: translateX(-50px);
}
.slide-left.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Картинки: справа налево */
.slide-right {
  transform: translateX(50px);
}
.slide-right.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Текст: снизу вверх */
.fade-up {
  transform: translateY(40px);
}
.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Текст: сверху вниз */
.fade-down {
  transform: translateY(-40px);
}
.fade-down.visible {
  opacity: 1;
  transform: translateY(0);
}
